src/main/resources/wimove_protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://smartmove.closertag.com/services"
	xmlns:tns="http://smartmove.closertag.com/services" elementFormDefault="qualified">
	<include schemaLocation="wimove_api.xsd"></include>
	<element name="error">
		<complexType>
			<sequence>
				<element name="message" type="string"></element>
			</sequence>
			<attribute name="code" type="int"></attribute>
		</complexType>
	</element>
</schema>